readme.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 아래의 디렉터리는 Git Commit 예외 처리 ###
/docker-compose.yml
.env*
docker-compose.yml
/frontend/node_modules
/src/main/resources/application.yml
/build.gradle
/Dockerfile
/mariadb-configmap.yaml
/mariadb-deployment.yaml
/spring-deployment.yaml
/frontend/vue.config.js
