<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="display-4">문제가 발생했습니다...</h1>
    <p class="lead">죄송합니다. 문제가 발생했습니다. 우리는 이 문제를 해결하기 위해 노력하고 있으며 최대한 빨리 문제를 해결하도록 하겠습니다.</p>

    <!-- 에러 상세 정보, 실제 애플리케이션에서 사용할 경우 아래 내용을 동적으로 변경 -->
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">오류 정보</h4>
        <p>에러 메시지: <span>아이디 중복으로 회원가입이 안됬거나</span></p>
        <!-- 기타 필요한 에러 정보 추가 -->
    </div>

    <a href="/" class="btn btn-primary">홈</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
