<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>객실 예약 사이트 홈</title>
</head>
<body>
<header>
    <h1>객실 예약 사이트</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">홈</a></li>
                <li><a th:href="@{/login}">로그인</a></li>
                <li><a th:href="@{/reservations/list}">예약 목록</a></li>
                <li><a th:href="@{/rooms/list}">객실 목록</a></li>
                <li><a th:href="@{/users/list}">사용자 목록</a></li>
            </ul>
        </nav>
</header>

<div>
    <h2>환영합니다!</h2>
    <p>여기는 객실을 예약할 수 있는 웹사이트입니다. 로그인하거나 계정을 만들어 예약을 진행해주세요.</p>
</div>
</body>
</html>
