<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add/Edit Room</title>
</head>
<body>
<h2>Add/Edit Room</h2>
<form th:action="@{/rooms}" th:object="${room}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" />
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" />
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="text" id="price" th:field="*{price}" />
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>
